@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #f1f1f1;
  --primary: #E8F3D8;
  --secondary: #1E2044;
  --text_color: #060937;
  font-family: "Roboto", sans-serif;
  font-size: 20pt;
  font-weight: 400;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
